{% extends 'base.html.twig' %}

{% block title %}Packages{% endblock %}

{% block body %}
    <style>
        * {
            box-sizing: border-box;
        }

        .grid {
            display: grid;
            gap: 30px 20px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .package a {
            color: inherit;
            text-decoration: none;
        }

        .package {
            transition: transform 0.1s;
        }

        .package:hover {
            transform: translateY(-3px) scale(1.02);
        }
    </style>

    <main class="container mt-4" style="width: 800px;">
        <h1>Available packages</h1>
        <div class="grid mt-4">
            {% for package in packages %}
                <article class="package card">
                    <a href="{{ path('app_package_view', {id: package.id}) }}">
                        <img src="{{ package.photo | default("/default-image.jpg") }}" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{ package.name }}</h5>
                            <h6 class="card-subtitle">{{ package.price }} RON</h6>
                            <p class="card-text text-muted">{{ package.description }}</p>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}
