{% extends 'base.html.twig' %}

{% block title %}Register new business{% endblock %}

{% block body %}
    <main class="container mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                <h1 class="mb-3">Register new business</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.business.name) }}
                    {{ form_row(registrationForm.business.city) }}
                    {{ form_row(registrationForm.business.street) }}
                    {{ form_row(registrationForm.business.houseNumber) }}
                    {{ form_row(registrationForm.business.phoneNumber) }}
                    {{ form_row(registrationForm.business.businessType) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}

                    <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>
{% endblock %}
