{% extends 'base.html.twig' %}

{% block title %}{{ business.name }}{% endblock %}

{% block body %}

<main class="container mt-4" style="max-width: 800px">
    <div class="row">
        <div class="col">
            <h1>{{ business.name }}</h1>
            <p class="text-muted">{{ business.businessType.name }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Information</h2>
            <table class="table">
                <tr>
                    <th>Address</th>
                    <td>{{ business.street }}, {{ business.houseNumber }}, {{ business.city }}</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>{{ business.phoneNumber }}</td>
                </tr>
            </table>

            <a class="btn btn-secondary" href="{{ path('app_business_update', {id: business.id}) }}">Update</a>
            <button class="btn btn-danger" onclick="deleteBusiness()">Delete</button>
        </div>
        <div class="col">
            <div class="d-flex gap-4 align-items-center">
                <h2>Packages</h2>
                <a class="btn btn-primary" href="{{ path('app_business_new_package', {'id': business.id}) }}">New package</a>
            </div>
            <ul class="list-group mt-2">
                {% for package in business.packages %}
                    <li class="list-group-item">
                        <div class="d-flex gap-2 align-items-center">
                            <a href="{{ path('app_package_view', {id: package.id}) }}" class="flex-fill">{{ package.name }}</a>
                            <a href="{{ path('app_business_update_package', {id: business.id, packageId: package.id}) }}" class="btn btn-secondary">Update</a>
                            <button onclick="deletePackage('{{ path('app_package_delete', {id: package.id}) }}')" class="btn btn-danger">Delete</button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

<script>
    function deleteBusiness() {
        fetch("{{ path('app_business_delete', {id: business.id}) }}", {method: "POST"})
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
    }
    function deletePackage(path) {
        fetch(path, {method: "POST"})
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            });
    }
</script>

{% endblock %}
