{% extends 'base.html.twig' %}

{% block title %}Consumers{% endblock %}

{% block body %}
<main class="container mt-4" style="max-width: 800px;">
    <h1>Consumers</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone No</th>
        </tr>
        </thead>
        <tbody>
        {% for consumer in consumers %}
            <tr>
                <td><a href="{{ path('app_consumer_view', {id: consumer.id}) }}">{{ consumer.id }}</a></td>
                <td>{{ consumer.firstName }}</td>
                <td>{{ consumer.lastName }}</td>
                <td>{{ consumer.phoneNumber }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
