{% extends 'base.html.twig' %}

{% block title %}Update profile{% endblock %}

{% block body %}
    <main class="container mt-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto">
                <h1 class="mb-3">Update profile</h1>

                {{ form_errors(form) }}

                {{ form_start(form, {}) }}
                    {{ form_row(form.consumer.firstName) }}
                    {{ form_row(form.consumer.lastName) }}
                    {{ form_row(form.consumer.phoneNumber) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword, {
                        label: 'Password'
                    }) }}
                    {% do form.agreeTerms.setRendered() %}

                    <button type="submit" class="btn btn-primary">Update</button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
